//Repos Page

.repo-logo {
	max-width:20%;
	max-height: auto;
	display: inline;
	display: inline-block;
	margin-left: 2rem;
}

.repo-title {
	padding-left: 3rem;
	display: inline;
	display: inline-block;
}