<h1>Config</h1>

{{#if sdkLoading}}    
    <p>loading sdk...</p>    
{{/if}}

{{#if sdkLoaded}}
    <div class="well">
        <form>
            {{partial adapter.configTemplate}}
        </form>
        {{#unless configValidated}}
            <button {{action "validateConfig"}} class="btn btn-primary btn-lg btn-block">Validate Settings</button>
        {{/unless}}
        {{#if configValidated}}
            <button {{action "transitionToCamera"}} class="btn btn-success btn-lg btn-block">Start Camera</button>
        {{/if}}
    </div>
{{/if}}