<div class="jumbotron">
    <h1>Nimbuscam.js</h1>
    <p>A cloud-based security camera app</p>
     {{#link-to "repos"}} <button>Get Started</button> {{/link-to}}
</div>


<div class="well">
    <p>You can download the source and run it yourself.</p>
    <a>Github</a>
</div>
